.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: pink;
  border: 2px solid black;
  border-radius: 15px;
}
th {
  text-align: left;
}

a:link {color:purple;}
a:visited {color:purple;}
a:hover {color:purple;}
a:active {color:purple;}


.home_page {
  width: 100%;
  position: fixed;
  top: 0px;
  clear: both;
  background-color: pink;
  border-bottom: 2px solid black;
  color: black;
}

.home_page ul {

}

.home_page li {
  margin-right: 90px;
  display: inline;
  list-style-type: none;
}

body {
  margin-top: 130px;
}

