<div class="container">
  <h3> A list of all tags </h3>
</div>

<% @tags.each do |tag| %>
  <div class="container">
    <p><a href="/tags/<%= tag.id%>"> <%= tag.tag_title%> </a></p>
  </div>
<% end %>
