<div class="container">
  <h1> Create A Post </h1>
  <form name="input" action="/create_post" method="POST">
    Title: <input type="text" name="post_title"><br>
    Text: <input type="text" name="post_text"><br>
    <input type="submit" value="submit">
  </form>
</div>